<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crater.accounting.dao.mapper.consumptionCategoryDaoMapper">
    <insert id="insert" parameterType="com.crater.accounting.bean.database.ConsumptionCategoryPojo">
        INSERT INTO CONSUMPTION_CATEGORY (NAME, IS_FOR_SAVING, CREATE_USER, IS_ACTIVE, USER_ID)
        VALUES (#{name}, #{isForSaving}, #{createUser}, #{isActive}, #{userId})
    </insert>

    <update id="update" parameterType="com.crater.accounting.bean.database.ConsumptionCategoryPojo">
        update CONSUMPTION_CATEGORY
        <set>
            <if test="name != null">NAME = #{name},</if>
            <if test="createTime != null">CRATE_TIME = #{createTime},</if>
            <if test="createUser != null">CRATE_USER = #{createUser},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="updateUser != null">UPDATE_USER = #{updateUser},</if>
            <if test="isForSaving != null">IS_FOR_SAVING = #{isForSaving},</if>
            <if test="isActive != null">IS_ACTIVE = #{isActive},</if>
            <if test="userId != null">USER_ID = #{userId},</if>
        </set>
        where SER_NO = #{serNo}
    </update>

    <delete id="delete" parameterType="com.crater.accounting.bean.database.ConsumptionCategoryPojo">
        DELETE FROM CONSUMPTION_CATEGORY
        WHERE SER_NO = #{serNo}
    </delete>

    <select id="selectSerNoAndName" parameterType="com.crater.accounting.bean.database.ConsumptionCategoryPojo"
        resultMap="categoryResultMap">
        SELECT SER_NO, NAME, CREATE_TIME, UPDATE_TIME
        FROM CONSUMPTION_CATEGORY
        <where>
            <if test="serNo != null">AND SER_NO = #{serNo}</if>
            <if test="name != null">AND NAME LIKE CONCAT('%', #{name}, '%')</if>
            <if test="createTime != null">AND CRATE_TIME = #{createTime}</if>
            <if test="createUser != null">AND CRATE_USER = #{createUser}</if>
            <if test="updateTime != null">AND UPDATE_TIME = #{updateTime}</if>
            <if test="updateUser != null">AND UPDATE_USER = #{updateUser}</if>
            <if test="isActive != null">AND IS_ACTIVE = #{isActive}</if>
            <if test="userId != null">AND USER_ID = #{userId}</if>
        </where>
        ORDER BY SER_NO
    </select>

    <select id="selectAllColumn" parameterType="com.crater.accounting.bean.database.ConsumptionCategoryPojo"
            resultMap="categoryResultMap">
        SELECT *
        FROM CONSUMPTION_CATEGORY
        <where>
            <if test="serNo != null">AND SER_NO = #{serNo}</if>
            <if test="name != null">AND NAME LIKE #{name}</if>
            <if test="createTime != null">AND CRATE_TIME = #{createTime}</if>
            <if test="createUser != null">AND CRATE_USER = #{createUser}</if>
            <if test="updateTime != null">AND UPDATE_TIME = #{updateTime}</if>
            <if test="updateUser != null">AND UPDATE_USER = #{updateUser}</if>
            <if test="isActive != null">AND IS_ACTIVE = #{isActive}</if>
             <if test="userId != null">AND USER_ID = #{userId}</if>
        </where>
        ORDER BY SER_NO
    </select>

    <resultMap id="categoryResultMap" type="com.crater.accounting.bean.database.ConsumptionCategoryPojo">
        <id property="serNo" column="SER_NO"/>
        <result property="name" column="NAME"/>
        <result property="isForSaving" column="IS_FOR_SAVING"/>
        <result property="isAutoSaving" column="IS_AUTO_SAVING"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="autoSavingDate" column="AUTO_SAVING_DATE"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="userId" column="USER_ID"/>
    </resultMap>
</mapper>