<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crater.accounting.dao.mapper.TransactionDaoMapper">
    <insert id="insert" parameterType="com.crater.accounting.bean.database.TransactionPojo">
        INSERT INTO TRANSACTION(CONSUMPTION_CATEGORY_SER_NO, NAME, AMOUNT, CREATE_TIME, CREATE_USER, UPDATE_TIME,
                                UPDATE_USER, TRANSACTION_TIME, USER_ID)
        VALUES (#{consumptionCategorySerNo}, #{name}, #{amount}, #{createTime}, #{createUser}, NULL,
                #{updateUser}, #{transactionTime}, #{userId})
    </insert>

    <update id="update" parameterType="com.crater.accounting.bean.database.TransactionPojo">
        UPDATE TRANSACTION
        <set>
            <if test="consumptionCategorySerNo != null">CONSUMPTION_CATEGORY_SER_NO = #{consumptionCategorySerNo},</if>
            <if test="name != null">NAME = #{name},</if>
            <if test="amount != null">AMOUNT = #{amount},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="createUser != null">CREATE_USER = #{createUser},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="updateUser != null">UPDATE_USER = #{updateUser},</if>
            <if test="transactionTime != null">TRANSACTION_TIME = #{transactionTime},</if>
            <if test="userId != null">USER_ID = #{userId},</if>
        </set>
        WHERE SER_NO = #{serNo}
    </update>

    <select id="select" parameterType="com.crater.accounting.bean.database.TransactionPojo"
    resultMap="transactionPojoResultMap">
        SELECT *
        FROM TRANSACTION
        <where>
            <if test="serNo != null">AND SER_NO = #{serNo}</if>
            <if test="consumptionCategorySerNo != null">AND CONSUMPTION_CATEGORY_SER_NO = #{consumptionCategorySerNo}
            </if>
            <if test="name != null">AND NAME = #{name}</if>
            <if test="amount != null">AND AMOUNT = #{amount}</if>
            <if test="createTime != null">AND CREATE_TIME = #{createTime}</if>
            <if test="createUser != null">AND CREATE_USER = #{createUser}</if>
            <if test="updateTime != null">AND UPDATE_TIME = #{updateTime}</if>
            <if test="updateUser != null">AND UPDATE_USER = #{updateUser}</if>
            <if test="queryTransactionStartTime != null">AND TRANSACTION_TIME >= #{queryTransactionStartTime}</if>
            <if test="queryTransactionEndTime != null">AND TRANSACTION_TIME &lt;= #{queryTransactionEndTime}</if>
            <if test="userId != null">AND USER_ID = #{userId}</if>
        </where>
    </select>

    <resultMap id="transactionPojoResultMap" type="com.crater.accounting.bean.database.TransactionPojo">
        <id property="serNo" column="SER_NO"/>
        <result property="consumptionCategorySerNo" column="CONSUMPTION_CATEGORY_SER_NO"/>
        <result property="name" column="NAME"/>
        <result property="amount" column="AMOUNT"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="transactionTime" column="TRANSACTION_TIME"/>
        <result property="userId" column="USER_ID"/>
    </resultMap>

    <delete id="delete" parameterType="com.crater.accounting.bean.database.TransactionPojo">
        DELETE FROM TRANSACTION
        <where>
            <if test="serNo != null">AND SER_NO = #{serNo}</if>
            <if test="consumptionCategorySerNo != null">AND CONSUMPTION_CATEGORY_SER_NO = #{consumptionCategorySerNo}
            </if>
            <if test="name != null">AND NAME = #{name}</if>
            <if test="amount != null">AND AMOUNT = #{amount}</if>
            <if test="createTime != null">AND CREATE_TIME = #{createTime}</if>
            <if test="createUser != null">AND CREATE_USER = #{createUser}</if>
            <if test="updateTime != null">AND UPDATE_TIME = #{updateTime}</if>
            <if test="updateUser != null">AND UPDATE_USER = #{updateUser}</if>
        </where>
    </delete>
</mapper>